@include b(timeline) {}

@include b(timeline-item) {
    position: relative;
    padding-left: 20px;
    padding-bottom: $padding;

    @include e-m(icon) {
        position: absolute;
        left: 0;
        z-index: 1;
        width: 15px;
        height: 15px;
        color: $color-primary;
        background-color: #fff;
    }

    @include e-m(line) {
        position: absolute;
        left: 6px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: $border-color;
    }

    &:last-child .b-timeline-item__line {
        display: none;
    }

    @include e-m(content) {}
}