@include b(checkbox) {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;

    @include e-m(inner) {
        display: inline-block;
        z-index: 1;
        width: 15px;
        height: 15px;
        border: $border;
        border-radius: $checkbox-radius;
        vertical-align: middle;
    }

    @include e-m(input) {
        opacity: 0;
        outline: none;
        position: absolute;
        z-index: -1;
        margin: 0;
        width: 0;
        height: 0;
    }

    @include e-m(label) {
        display: inline-block;
        padding-left: 10px;
        vertical-align: middle;
    }
}