$prefix: 'b';
$state-prefix:'is';
$white: #fff !default;
$dark: #000 !default;
/* 
 * color
*/
$color-primary: #ff9800 !default;
$color-success: #67C23A !default;
$color-warning: #fdd835 !default;
$color-danger: #F56C6C !default;
$color-info: #565656 !default;
/* light color */
$color-light-primary: lighten($color-primary, 10%);
$color-light-success: lighten($color-success, 10%);
$color-light-warning: lighten($color-warning, 10%);
$color-light-danger: lighten($color-danger, 10%);
$color-light-info: lighten($color-info, 10%);
/* dark color */
$color-dark-primary: darken($color-primary, 10%);
$color-dark-success: darken($color-success, 10%);
$color-dark-warning: darken($color-warning, 10%);
$color-dark-danger: darken($color-danger, 10%);
$color-dark-info: darken($color-info, 10%);
/* 
 * text color
*/
$color-text-primary: #5f5f5f !default;
$color-text-ignore: #ababab !default;
$bg: #f5f5f5;
/* 
 * font
*/
$font-family:"Helvetica Neue",
Helvetica,
"PingFang SC",
"Hiragino Sans GB",
"Microsoft YaHei",
"微软雅黑",
Arial,
sans-serif;
$font-size: 14px;
$line-height: 40px;
$padding: 10px;
$border-color: #cecece;
$border: 1px solid $border-color;
$radius: 3px;
/* 
* shadow
*/
$shadow: 0 0 10px rgba(0, 0, 0, .1);
$shadow-x: 3px 0 10px rgba(0, 0, 0, .1);
$shadow-y: 0 3px 10px rgba(0, 0, 0, .1);
$shadow-xy: 3px 3px 10px rgba(0, 0, 0, .1);
$shadow-deep: 0 0 10px rgba(206, 178, 178, 0.4);
$shadow-deep-x: 3px 0 10px rgba(0, 0, 0, .4);
$shadow-deep-y: 0 3px 10px rgba(0, 0, 0, .4);
$shadow-deep-xy: 3px 3px 10px rgba(0, 0, 0, .4);
/* 
* header-footer 
*/
$layout-list: header footer;
$header-footer-line-height: $line-height;
/* 
* button
*/
$button-min-width: 80px;
$button-padding: 10px 20px;
$button-large-padding: 15px 40px;
$button-small-min-width: 60px;
$button-small-padding: 5px 10px;
$button-mini-min-width: auto;
$button-mini-padding: 2px 5px;
$button-border: 1px solid #ececec;
$button-radius: $radius;
$button-round: 20px;
$button-circle: 50%;
$button-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
/* 
* input
*/
$input-width: 300px;
$input-line-height: 30px;
$input-radius: $radius;
$input-shadow-focus: 0 2px 0 rgba(255, 173, 51, .2);
$textarea-height: 80px;
$textarea-shadow-focus: 0 0 2px rgba(255, 173, 51, .2);