@include b(radio) {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;

    @include e-m(inner) {
        position: relative;
        display: inline-block;
        z-index: 1;
        width: 14px;
        height: 14px;
        border: 1px solid $white;
        border-radius: $radio-radius;
        vertical-align: middle;
        background-color: $white;
        transition: all cubic-bezier(.71, -.46, .29, 1.46) .3s 0s;
        box-shadow: $radio-shadow;

        // checked
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: $radio-radius;
            background-color: $color-primary;
            transform: scale(0);
            transition: transform .15s ease-in .05s;
            transform-origin: center;
        }

        @include when(checked) {
            border-color: $color-primary;
            &:after {
                transform: scale(.6);
            }
        }

        @include when(disabled) {
            border-color: $border-color;
            background-color: lighten($border-color, 15%);

            &:after {
                background-color: darken($border-color, 10%);
            }
        }
    }

    @include e-m(input) {
        opacity: 0;
        outline: none;
        position: absolute;
        z-index: -1;
        margin: 0;
        width: 0;
        height: 0;
    }

    @include e-m(label) {
        display: inline-block;
        padding-left: $radio-padding;
        vertical-align: middle;
    }

    @include when(disabled) {
        cursor: not-allowed;
    }
}