table {
    display: table;
    width: 100%;
    text-align: left;
}

table thead {
    white-space: nowrap;
}

th, td {
    padding: .8em 1em;
    border-left: none;
    border-right: none;
}

tr:nth-child(2n) {
    background-color: #ffffff; 
}

/**
* docs style
*/
.docs-layout-content {
    height: 300px;
    background: rgb(247, 230, 186);
}

.docs-layout-slider {
    background: rgb(172, 199, 240);
}

.docs-col {
    height: 50px;
    border-radius: 3px;
    background: #eee;
}