/*
 * common style
 */
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    outline: none;
}

html,
body {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    color: $color-text-primary;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $color-primary;
}

input{
    width: $input-width;
}