@include b(list) {
    margin: 0;
    padding: 10px 0;

    @include b(list) {
        padding: 0;
    }

    @include when(nested) {
        padding-left: 15px;
    }
}

@include b(list-item) {
    &>a {
        height: 30px;
        line-height: 30px;
        color: $color-text-primary;
    }

    @include e-inner() {
        display: block;
    }
}