@include b(tooltip) {
    display: inline-block;

    @include e-m(ref) {
        display: inline-block;
    }

    @include e-m(popper) {
        min-width: 100px;
        padding: $padding;
        border-radius: $radius;
        font-size: 12px;
        line-height: 1.2;
        color: $white;
        background-color: $color-primary;
        box-shadow: $shadow-xy;
        z-index: $zIndex;

        &[x-placement="bottom"] {
            margin-top: 5px;
        }

        &[x-placement="left"] {
            margin-right: 5px;
        }

        &[x-placement="top"] {
            margin-bottom: 5px;
        }

        &[x-placement="right"] {
            margin-left: 5px;
        }

        @include when(light) {
            color: $color-text-primary;
            background-color: $white;
        }
    }
}